mixin navigation(data)
	.flex.justify-between.items-center.w-full(class="pb-2.5 gap-1.25")
		.flex.items-center.justify-center.shrink-0(class="gap-1.25")
			button.flex.items-center.justify-center.w-5.h-5.text-xl.text-gray-550.transition-colors(type="button" class="hover:text-black-100")
				+svg('icon-arrow-left')
			button.flex.items-center.justify-center.w-5.h-5.text-xl.text-gray-550.transition-colors(type="button" class="scale-x-[-1] hover:text-black-100")
				+svg('icon-arrow-left')
		.text-sm.text-gray-250 Товари
		button.flex.items-center.justify-center.w-5.h-5.text-xl.text-gray-550.transition-colors(type="button" class="hover:text-black-100")
			+svg('icon-ellipsis')