extends _includes/_extends/main

include _includes/components/modals/modals

block head
	+head({'title':'ui'})

block styles
	style.
		.vue-modal {
			min-width: 360px;
			opacity: 0;
			visibility: hidden;
			transform: translate(0, -40px);
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			pointer-events: none;
			bottom: 0;
			margin: auto;
			z-index: 300;
			overflow-x: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			display: flex;
			align-items: flex-start;
			justify-content: center;
		}

		.vue-modal__inner {
			width: 100%;
			display: flex;
			justify-content: center;
		}

block content
	.pb-14.px-2.pt-25(class="md:pt-19.5 md:px-6 md:pb-6")
		.container.mx-auto(class="md:container xl:container 2xl:container")
			.flex.justify-start.items-start.flex-wrap.gap-6
				+svg('icon-check-mark-svgrepo-com')
				+svg('icon-edit')
				+svg('icon-good-settings')
				+svg('icon-pie-chart')
				+svg('icon-panel-right-open')
				+svg('icon-panel-right-close')
				+svg('icon-save')
				+svg('icon-plus')
				+svg('icon-plus-circle')
				+svg('icon-refresh')
				+svg('icon-filter')
				+svg('icon-ellipsis')
				+svg('icon-arrow-left')
				+svg('icon-close')
				+svg('icon-tabs')
				+svg('icon-connections')
				+svg('icon-menu')
				+svg('icon-chevrons-left')
				+svg('icon-chevron')
				+svg('icon-chevrons')
				+svg('icon-search')
				+svg('icon-logistic')
				+svg('icon-bus')
				+svg('icon-database-zap')
				+svg('icon-captions')
				+svg('icon-clipboard-list')
				+svg('icon-archive-restore')
				+svg('icon-archive')
				+svg('icon-brick-wall')
				+svg('icon-cat-goods')
				+svg('icon-book-open-text')
				+svg('icon-book-image')
				+svg('icon-categories')
				+svg('icon-companies')
				+svg('icon-users')
				+svg('icon-analytics')
				+svg('icon-settings')
				+svg('icon-crm')
				+svg('icon-wallet')
				+svg('icon-checkmark')
				+svg('icon-play-circle')
				+svg('icon-bucket')
				+svg('icon-file-scan')
				+svg('icon-view')
				+svg('icon-file-symlink')
				+svg('icon-file-pen')
				+svg('icon-list-plus')
				+svg('icon-pencil-line')


	.pb-14.px-2.pt-25(class="md:pt-19.5 md:px-6 md:pb-6")
		.container.mx-auto(class="md:container xl:container 2xl:container")
			.flex.justify-start.items-start.flex-wrap.gap-6
				.flex.flex-col.gap-2.items-start.justify-start
					span.text-black-100 Dropdown bottom/left - #[br] no additional classes
					
				.flex.flex-col.gap-2.items-start.justify-start
					span.text-black-100 Dropdown top/left - #[br] add class "dropdown-top"
					
				.flex.flex-col.gap-2.items-start.justify-start
					span.text-black-100 Dropdown top/right - add classes #[br] "dropdown-top" and "dropdown-right" 
					
				.flex.flex-col.gap-2.items-start.justify-start
					span.text-black-100 Dropdown bottom/right - #[br] add class  "dropdown-right" 
					
	
block modals
	.modal-overlay.opacity-0.fixed.top-0.left-0.w-full.h-full.z-40.pointer-events-none(class="bg-black/[.8]")