@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {}

@layer utilities {

    // global styles
    .icon {
        @apply inline-block stroke-0 stroke-current fill-current w-[1em] h-[1em];
    }
}