mixin modal-token-info(data)
	.vue-modal.py-0(data-modal='1' class="lg:py-13.5")
		.vue-modal-content.w-full.h-auto.pointer-events-auto.relative.bg-dark(class="lg:rounded-large lg:mx-4 lg:max-w-3xl xl:max-w-240 xll:max-w-7xl")
			.vue-modal-header.flex.justify-between.items-center.w-full.min-h-13.px-2.bg-basee.sticky.top-0(class="py-2.5 lg:relative lg:rounded-t-large")
				
			.vue-modal-body.bg-dark(class="lg:rounded-b-large")
				